<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments::head('Grocery Lists')">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body>

<input type="hidden" id="csrf-token" th:name="${_csrf.parameterName}" th:content="${_csrf.token}"/>
<input type="hidden" id="csrf-header" th:name="${_csrf.parameterName}" th:content="${_csrf.headerName}"/>

<div class="home-grid">
    <div th:replace="fragments::hidden-search"></div>
    <nav th:replace="fragments::my-navbar"></nav>
    <div class="lists-index-body">
        <div class="grocery-header">
        <h1 class="grocery-title">Grocery Lists</h1>
        <form th:method="post" class="lists-search">
            <div id="lists-search-items">
                <div class="ui-widget">
                    <input id="tags" type="text" class="form-control" placeholder="Search item"/>
                </div>
                <button id="search-submit" type="submit" class="btn btn-success glyphicon glyphicon-ok"></button>
                <span class="input-group-btn">
                    <span id="barcode" class="btn btn-primary glyphicon glyphicon-barcode" type="button" data-toggle="modal" data-target="#livestream_scanner">
                        <i class="fa fa-barcode"></i>
                    </span>
                </span>
            </div>
        </form>
            
        <input id="scanner_input" type="hidden" />

        <div class="modal" id="livestream_scanner">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Barcode Scanner</h4>
                    </div>
                    <div class="modal-body" >
                        <div id="interactive" class="viewport"></div>
                        <div class="error"></div>
                    </div>
                    <!--<div class="modal-footer">-->
                        <!--<label class="btn btn-default pull-left">-->
                            <!--<i class="fa fa-camera"></i> Use camera app-->
                            <!--<input type="file" accept="image/*;capture=camera" capture="camera" class="hidden" />-->
                        <!--</label>-->
                        <!--<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>-->
                    <!--</div>-->
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        </div>
        <div class="grocery-lists">
            <ul class="nav nav-tabs ul-tabs grocery-list-tab">
                <li class="tabs" th:each="list : ${lists}">
                    <a data-toggle="tab" th:href="'#list' + ${list.id}" th:text="${list.name}"/>
                </li>
                <span id="popover-list" class="glyphicon glyphicon-plus add-grocery-list" data-placement="left" ></span>
                <div id="popover-content" class="hide">
                    <form th:method="post" th:action="@{/list/create}">
                        <div class="form-group">
                            <input type="text" name="name" class="form-control" placeholder="Enter List Name &hellip;" />
                        </div>
                        <div class="btn-ok-cancel">
                            <button class="btn btn-danger glyphicon glyphicon-remove btn-cancel"></button>
                            <button type="submit" class="btn btn-success glyphicon glyphicon-ok"></button>
                        </div>
                    </form>
                </div>
            </ul>
            <div class="tab-content lists-view">
                <div th:each="list : ${lists}" th:id="'list' + ${list.id}" class="tab-pane view-items">
                    <input type="hidden" th:value="${list.id}"/> <!-- don't move from this position-->
                    <span class="dropdown">
                        <span class="dropdown-toggle item-edit" type="button" th:id="'dropdownMenu' + ${list.id}"
                              data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <span class="caret-size-lists caret" aria-hidden="true"></span>
                        </span>

                        <ul class="dropdown-menu" th:attr="aria-labelledby='\'dropdownMenu' + ${list.id} +'\''">
                            <li><a data-toggle="modal" th:href="'#shareModal'+${list.id}">Share List</a></li>
                            <li><a th:href="@{/list/delete(list_id=${list.id})}">Delete List</a></li>
                        </ul>
                    </span>

                    <div th:each="item : ${items}" >
                        <div th:if="${item.listId} == ${list.id}" class='item-all'>
                            <div class='item-name'>
                                <input type='checkbox' value='false' class='item-property'/>
                                <span th:text="${item.name}" class='item-property property-name' />
                            </div>
                            <div class="item-price-qty">
                                <div class="item-price">
                                    <input type="text" th:attr="data-item=${item.id}" class="qty-price-input currency price" th:value="'$ ' +${item.price} " />
                                </div>
                                <div class="item-quantity">
                                    <input type="text" th:attr="data-itemqty=${item.id}" class="item-list-qty" th:value="${item.quantity}" />
                                    <div>
                                        <div class="glyphicon glyphicon-plus glyphicon-plus-minus btn-plus-qty" />
                                        <div class="glyphicon glyphicon-minus glyphicon-plus-minus btn-minus-qty" />
                                    </div>
                                </div>
                            </div>
                            <div class='item-img img-responsive'>
                                <img th:src="${'/uploads/items/' + item.imgUrl}"/>
                            </div>

                            <div class="glist-item dropdown">
                                <button class="btn btn-default dropdown-toggle item-edit" type="button" th:id="'dropdownMenu' + ${item.id}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <span class="caret-size caret"></span>
                                </button>

                                <ul class="dropdown-menu dropdown-menu-right" th:attr="aria-labelledby='\'dropdownMenu' + ${item.id} +'\''">
                                    <li><a href="#">Edit</a></li>
                                    <li><a href="#">Delete</a></li>
                                    <li class="dropdown-price-qty"><a data-toggle="modal" th:href="'#itemSetPrice' + ${item.id}">Set Price</a></li>
                                    <li class="dropdown-price-qty"><a data-toggle="modal" th:href="'#itemSetQty' + ${item.id}">Set Quantity</a></li>
                                </ul>
                            </div>

                            <!-- Modal to set price-->
                            <div class="modal fade" th:id="'itemSetPrice' + ${item.id}" tabindex="-1" role="dialog" aria-labelledby="modalPrice">
                                <div class="modal-dialog modal-sm" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="modalPrice">Enter Item Price</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="modal-price-input">
                                                <input type="text" th:attr="data-item=${item.id}" class="qty-price-input currency price" th:value="'$ ' +${item.price} " />
                                            </div>
                                            <div class="btn-ok-cancel">
                                                <button class="btn btn-danger glyphicon glyphicon-remove btn-modal-cancel" data-dismiss="modal"></button>
                                                <button type="submit" class="btn btn-success glyphicon glyphicon-ok btn-modal-ok" data-dismiss="modal"></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Modal to set quantity-->
                            <div class="modal fade" th:id="'itemSetQty' + ${item.id}" tabindex="-1" role="dialog" aria-labelledby="modalQty">
                                <div class="modal-dialog modal-sm" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="modalQty">Enter Item Quantity</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="modal-input-qty">
                                                <input type="text" th:attr="data-itemqty=${item.id}" class="item-list-qty" th:value="${item.quantity}" />
                                                <div>
                                                    <div class="glyphicon glyphicon-plus glyphicon-plus-minus btn-plus-qty" />
                                                    <div class="glyphicon glyphicon-minus glyphicon-plus-minus btn-minus-qty" />
                                                </div>
                                            </div>
                                            <div class="btn-ok-cancel">
                                                <button class="btn btn-danger glyphicon glyphicon-remove btn-modal-cancel" data-dismiss="modal"></button>
                                                <button type="submit" class="btn btn-success glyphicon glyphicon-ok btn-modal-ok" data-dismiss="modal"></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" th:id="'shareModal'+${list.id}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="share-title modal-title" id="myModalLabel">Share List</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                </div>
                                <div class="modal-body">
                                    <form th:action="@{/list/share}" th:method="post">
                                        <input class="share-number-input" name="phone" type="text" placeholder="Phone number to share with (+12107775555)" />
                                        <input name="listId" type="hidden" th:value="${list.id}" />
                                        <button type="submit" id="invites" class="button btn btn-success btn-block">SEND INVITES</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="list-total">
            <p class="total">Total: $<span class="calculated-total">0.00</span></p>
        </div>
    </div>
    <div th:replace="fragments::my-footer"></div>
</div>
<div th:replace="fragments::scripts"></div>
</body>
</html>