<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head('Login')" />
<body>
<div class="home-grid">
    <div th:replace="fragments::hidden-search"></div>
    <nav th:replace="fragments::my-navbar"></nav>
    <div class="modal-content login-body">
    <!--<img src="/uploads/others/groceries.jpg" class="image img-responsive"/>-->

    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title login-header" id="myModalLabel">Log In</h4>
                </div>
                <div class="modal-body">
                    <div class="modal-content login-body">
                        <!--<h1 class="login-header">Log In</h1>-->
                        <div class="login-error" th:if="${param.logout}">
                            You have been logged out.
                        </div>

                        <form id="login-form" th:action="@{/login}" method="post">
                            <label for="username">Username</label>
                            <input id="username" name="username" type="text"/>
                            <label for="password">Password</label>
                            <input id="password" name="password" type="password"/>
                            <button type="submit" class="button btn btn-default">Log In</button>
                            <!--<input type="submit" value="Log In"/>-->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <div th:replace="fragments::my-footer"></div>
</div>
<div th:replace="fragments::scripts"></div>
</body>
</html>