<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head('Login')" />
<body>
<div class="home-grid">
    <div th:replace="fragments::hidden-search"></div>
    <nav th:replace="fragments::my-navbar"></nav>

    <div class="modal-content login-body">
        <h1 class="login-header">Log In</h1>
        <div class="login-error" th:if="${param.logout}">
            You have been logged out.
        </div>

        <form id="login-form" th:action="@{/login}" method="post">
            <label for="username">Username</label>
            <input id="username" name="username" type="text"/>
            <label for="password">Password</label>
            <input id="password" name="password" type="password"/>
            <button type="submit" class="button btn btn-default">Log In</button>
            <!--<input type="submit" value="Log In"/>-->
        </form>
    </div>

    <div th:replace="fragments::my-footer"></div>
</div>
<div th:replace="fragments::scripts"></div>
</body>
</html>