<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head('Profile')" />
<body>
<div class="home-grid">
    <div th:replace="fragments::hidden-search"></div>
    <nav th:replace="fragments::my-navbar"></nav>

    <div class="modal-content profile-home">

        <div class="modal fade" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content profile-body">

                    <div class="modal-header div-header-profile">
                        <h4 class="modal-title profile-header" id="myModalLabel">Profile Details</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    </div>

                    <div class="modal-body modal-profile-body">
                        <div class="modal-content">
                            <div class="users-info">
                                <div class="user-profile-image">
                                    <img class="img-responsive user-image-profile" th:src="'/uploads/users/' + ${#authentication.principal.imgUrl}"/>
                                </div>
                                <div class="user-account-details">
                                    <p>Username: <span class="" th:text="${#authentication.principal.username}"/></p>
                                    <p>Email: <span class="" th:text="${#authentication.principal.email}"/></p>
                                    <p>Phone: <span class="" th:text="${#authentication.principal.phone}"/></p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div th:replace="fragments::my-footer"></div>
</div>
<div th:replace="fragments::scripts"></div>
</body>
</html>