<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head('Profile')" />
<body>
<div class="home-grid">
    <div th:replace="fragments::hidden-search"></div>
    <nav th:replace="fragments::my-navbar"></nav>

    <div class="modal-content profile-home">

        <div class="modal fade" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content profile-body">

                    <div class="modal-header div-header-profile">
                        <h4 class="modal-title profile-header" id="myModalLabel">Profile Details</h4>
                        <button id="close-profile-modal" type="submit" class="close profile" aria-label="Close">
                            <a href="/" aria-hidden="true">&times;</a>
                        </button>
                    </div>

                    <div class="modal-body modal-profile-body">
                        <div class="modal-content">
                            <div class="users-info">
                                <div class="user-profile-image">
                                    <img class="img-responsive user-image-profile" th:src="'/uploads/users/' + ${user.imgUrl}"/>
                                </div>
                                <form id="profile-form" th:method="post" th:action="@{/users/profile}" th:object="${user}" enctype="multipart/form-data">
                                    <div class="user-account-details">
                                        <p>Username: <span class="" th:text="${user.username}"/></p>
                                        <p>Email: <span class="" th:text="${user.email}"/></p>
                                        <p>Phone: <span class="" th:text="${user.phone}"/></p>
                                        <button type="submit" class="edit-profile-button btn btn-default">Edit Details</button>
                                    </div>
                                    <div class="user-details-edit">
                                        <label id="img-user" for="img-file-user" class="btn btn-success glyphicon glyphicon-picture"></label>
                                        <input id="img-file-user" type="file" name="file" style="visibility:hidden" />
                                        <label for="username">Username</label>
                                        <input id="username" type="text" th:field="*{username}" th:value="${user.username}" />
                                        <label for="email">Email</label>
                                        <input id="email" type="email" th:field="*{email}" th:value="${user.email}" />
                                        <label for="phone">Phone</label>
                                        <input id="phone" type="text" th:field="*{phone}" th:value="${user.phone}" />
                                        <button type="submit" class="submit-profile-button btn btn-default">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div th:replace="fragments::my-footer"></div>
</div>
<div th:replace="fragments::scripts"></div>
</body>
</html>