<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head('Register')"></head>
<body>
<div class="home-grid">
    <div th:replace="fragments::hidden-search"></div>
    <nav th:replace="fragments::my-navbar"></nav>
    <div class="register-body">
        <h1>Please Register</h1>
        <form id="register-form" th:method="post" th:action="@{/users/register}" th:object="${user}" enctype="multipart/form-data">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" th:field="*{username}"/>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control" id="email" th:field="*{email}"/>
            </div>
            <div class="form-group">
                <label for="phone">Phone Number</label>
                <input type="text" class="form-control" id="phone" th:field="*{phone}"/>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" th:field="*{password}"/>
            </div>
            <div class="form-group">
                <label for="file">Image</label>
                <input type="file" class="form-control" name="file" id="file"/>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
    <div th:replace="fragments::my-footer"></div>
</div>
<div th:replace="fragments::scripts"></div>
</body>
</html>