<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head('Register')" />
<body>
<div class="home-grid">
    <div th:replace="fragments::hidden-search"></div>
    <nav th:replace="fragments::my-navbar"></nav>
    <div class="register-body">
        <h1 class="register-header">Get Started and Get It!</h1>
        <form class="register-form" th:method="post" th:action="@{/users/register}" th:object="${user}" enctype="multipart/form-data">

            <div class="form-group">
                <label for="username">Username</label>
                <input class="register-icon-name form-control" style="text-indent:17px;" type="text" id="username" th:field="*{username}" />
                <span th:if="${#fields.hasErrors('username')}">
                    <div th:replace="fragments :: validation-alert('username')" />
                </span>
            </div>

            <div class="form-group">
                <label for="email">Email</label>
                <input class="register-icon-email form-control" style="text-indent:17px;" type="text" id="email" th:field="*{email}"/>
                <span th:if="${#fields.hasErrors('email')}">
                    <div th:replace="fragments :: validation-alert('email')" />
                </span>
            </div>

            <div class="form-group">
                <label for="phone">Phone Number</label>
                <input class="register-icon-number form-control" style="text-indent:17px;" type="text" id="phone" th:field="*{phone}"/>
                <span th:if="${#fields.hasErrors('phone')}">
                    <div th:replace="fragments :: validation-alert('phone')" />
                </span>
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input class="register-icon-password form-control" style="text-indent:17px;" type="password" id="password" th:field="*{password}"/>
                <span th:if="${#fields.hasErrors('password')}">
                    <div th:replace="fragments :: validation-alert('password')" />
                </span>
            </div>

            <div class="form-group">
                <label for="file">Image</label>
                <input type="file" class="form-control" name="file" id="file"/>
            </div>

            <div class="form-group">
                <p>Dietary Restrictions</p>
                <div class="btn-group" style="display: block">
                    <button type="button" class="menu btn btn-lg dropdown-toggle form-control" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <div th:each="preference:${preferences}">
                            <li><a class="menu-li" href="#"><span th:text="${preference.name}"/></a></li>
                            <li th:if="${preferences.size()} != ${preference.id}" role="separator" class="divider"></li>
                        </div>
                    </ul>
                </div>
                <input class="menu-in" name="preference" type="hidden"/>
            </div>

            <button type="submit" class="button btn btn-default">Submit</button>
        </form>
        <div>
            <img src="/uploads/others/cart-icon.png" class="img-responsive cart-icon" />
        </div>
    </div>
    <div th:replace="fragments::my-footer"></div>
</div>
<div th:replace="fragments::scripts"></div>
</body>
</html>