<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head('Register')" />
<body>
<div th:replace="fragments::hidden-search"></div>
<nav th:replace="fragments::my-navbar"></nav>
<div class="container">
    <form th:method="post" th:action="@{/users/register}" th:object="${user}" enctype="multipart/form-data">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" th:field="*{username}" />
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email" th:field="*{email}" />
        </div>
        <div class="form-group">
            <label for="phone">Phone Number</label>
            <input type="text" class="form-control" id="phone" th:field="*{phone}" />
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" th:field="*{password}" />
        </div>
        <div class="form-group">
            <label for="file">Image</label>
            <input type="file" class="form-control" name="file" id="file" />
        </div>

        <div class="form-group">
            <p>Preference</p>
            <div class="btn-group" style="display: block">
                <button type="button" class="menu btn btn-lg dropdown-toggle form-control" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <div th:each="preference:${preferences}">
                        <li><a class="menu-li" href="#"><span th:text="${preference.name}" /></a></li>
                        <li role="separator" class="divider"></li>
                    </div>
                </ul>
            </div>
            <input class="menu-in" name="preference" type="hidden" />
        </div>

        <button type="submit" class="btn btn-default">Submit</button>
    </form>
    <div th:replace="fragments::my-footer"></div>
</div>
<div th:replace="fragments::scripts"></div>
</body>
</html>