<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="'Ooops, ' + ${error}"></title>
</head>
<body style="display: flex; flex-direction: column; justify-content: center; align-items: center; background-image: url('/uploads/others/error.jpeg'); background-size: cover; padding-top: 15%">
<h1 style="justify-content: center; align-items: center; font-size: 3em; color: white">Oops, You Didn't Get It! Try Again!</h1>
<a href="/" style="justify-content: center; align-items: center; font-size: 3em; color: orangered">Return to Get It!</a>
</body>
</html>