/*CSS Reset*/




/*Variables*/

:root {
    --grey: #DADFE1;
    --white: #EEEEEE;
    --d-green: #049372;
    --l-green: #C8F7C5;

    --logo-font: barricada-pro, serif;


}





/*Hidden search bar*/
div.search {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

div.search.show {
    opacity: 1;
}
/*//*/


.navbar, .nav-links-logged-in, .nav-links-logged-out {
    border: .5px solid var(--d-green);
    color: var(--l-green);
}

#nav-brand-name {
    font-size: 3em;
}

body {
    font-family: barricada-pro, serif;
    font-size: 3em;
    font-style: normal;
    font-weight: 400;

}






@media screen and (min-width: 420px) and (max-width: 1020px){







}








@media screen and (max-width: 420px){







}