<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments::head(About)" />
<body>
<div class="home-grid">
    <div th:replace="fragments::hidden-search"></div>
    <nav th:replace="fragments::my-navbar"></nav>

    <div class="about-body">

        <div class="about-header">
            <h1 class="team">Meet our team!</h1>
            <img class="team-icon img-responsive" src="/uploads/others/cart-icon.png" alt="" />
        </div>

        <div class="t">
            <img src="/uploads/others/tuesday2.jpeg" class="img-responsive our-image" />
            <div class="our-details">
            <a href="https://tuesdayshaw.github.io/" target="_blank">Tuesday Shaw</a>
            <a href="https://github.com/tuesdayshaw" target="_blank">Github</a>
            <a href="https://www.linkedin.com/in/tuesday-shaw/" target="_blank">LinkedIn</a>
            </div>
        </div>

        <div class="r">
            <img src="/uploads/others/rox.jpeg" class="img-responsive our-image" />
            <div class="our-details">
                <a href="https://roxanavp87.github.io" target="_blank">Roxana Velazquez</a>
                <a href="https://github.com/roxanavp87" target="_blank">Github</a>
                <a href="https://www.linkedin.com/in/roxanavp/" target="_blank">LinkedIn</a>
            </div>
        </div>

        <div class="m">
            <img src="/uploads/others/marc1download.jpeg" class="img-responsive our-image" />
            <div class="our-details">
                <a href="" target="_blank">Marc Ramirez</a>
                <a href="https://github.com/mrami128" target="_blank">Github</a>
                <a href="https://www.linkedin.com/in/marcus-j-ramirez/" target="_blank">LinkedIn</a>
            </div>
        </div>

    </div>
    <div th:replace="fragments::my-footer">Footer</div>
</div>
<div th:replace="fragments::scripts"></div>
</body>
</html>