e<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments::head(About)" />
<body>
<div class="home-grid">
    <div th:replace="fragments::hidden-search"></div>
    <nav th:replace="fragments::my-navbar"></nav>

    <div class="about-body">

        <h1 class="about-header">Meet our team!</h1>

        <div class="t">
            <img src="/uploads/others/tuesday2.jpeg" class="img-responsive our-image" />
            <div class="our-details">
            <a href="">Tuesday Shaw</a>
            <a href="">Github</a>
            <a href="">LinkedIn</a>
            </div>
        </div>

        <div class="r">
            <img src="/uploads/others/rox.jpeg" class="img-responsive our-image" />
            <div class="our-details">
                <a href="">Roxana Velazquez</a>
                <a href="">Github</a>
                <a href="">LinkedIn</a>
            </div>
        </div>

        <div class="m">
            <img src="/uploads/others/marc1download.jpeg" class="img-responsive our-image" />
            <div class="our-details">
                <a href="">Marc Ramirez</a>
                <a href="">Github</a>
                <a href="">LinkedIn</a>
            </div>
        </div>

    </div>
    <div th:replace="fragments::my-footer">Footer</div>
</div>
<div th:replace="fragments::scripts"></div>
</body>
</html>