e<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments::head(About)" />
<body>
<div class="home-grid">
    <div th:replace="fragments::hidden-search"></div>
    <nav th:replace="fragments::my-navbar"></nav>

    <div class="about-body">

        <p>As a busy person on the go, I want to easily maintain my routine tasks, so that I have more time at the end of the day to spend with friends and family.

            Get It! is a grocery shopping list app with a user-friendly interface and custom features. It provides an existing database of items and categories to a new user, but they can add and expand their items.

            User will be able to quickly build multiple shopping lists where they can add items manually or with the barcode scanner. They can favorite items and add price and quantity to their list.

            Users also will have an existing database of recipes that can be added that will allow the user to combine the shopping list easily with their meal planning.

            Keep all your planning and lists in one place and easily share with others.
        </p>

        <img src="" />
        <img src="/img/tuesday.jpg" class="img-responsive img-thumbnail" />
        <img src="" />

    </div>
    <div th:replace="fragments::my-footer">Footer</div>
</div>
<div th:replace="fragments::scripts"></div>
</body>
</html>