<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:fragment="head(title)">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0 , minimum-scale=1.0, maximum-scale=1.0" />
    <title th:text="${title}">Get It!</title>
    <link href="https://fonts.googleapis.com/css?family=Boogaloo|Overlock|Pompiere" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css?family=Assistant:300|Happy+Monkey|Playfair+Display" rel="stylesheet" />
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css" />
    <link rel="stylesheet" href="/css/main.css" />
</head>
<body>


<div th:fragment="hidden-search" class="search">
    <input id="nav-search-input" type="text" placeholder="Enter your search here"/>
    <input class="nav-search-button" type="submit" value="Search"/>
</div>

<nav class="navbar" th:fragment="my-navbar">
    <!--Left side nav-->
    <a href="/home" id="nav-brand-name">Get It <span id="nav-check-mark" class="glyphicon glyphicon-ok" aria-hidden="true"></span></a>

    <!--Logged out right side nav-->
    <div sec:authorize="!isAuthenticated()" class="nav-links-logged-out">
        <div class="nav-links">
            <a href="/home" class="nav-recipes">Categories</a>
            <span>|</span>
            <a href="/home" class="nav-categories">Recipes</a>
        </div>
        <div class="nav-links">
            <a href="/login" id="login-nav-link">Login</a>
            <span>|</span>
            <a href="/register" id="register-nav-link">Register</a>
        </div>
        <div class="nav-links">
            <span class="glyphicon glyphicon-search" aria-hidden="true" id="search-trigger"></span>
        </div>

    </div>

    <!--Logged in right side nav-->
    <div sec:authorize="isAuthenticated()" class="nav-links-logged-in">

        <div class="nav-icons">
            <span class="glyphicon glyphicon-search" aria-hidden="true" id="search-trigger2"></span>

            <span class="dropdown" id="dropdown-nav">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                   aria-expanded="false">
                    <span id="user-hello-hide-mobile-nav">
                        Hi
                        <span sec:authentication="name"></span>
                        !
                    </span>
                    <span id="hamburger" class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                    <a id="user-icon" href="#"><img src="http://via.placeholder.com/40x40"/></a>
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a class="dropdown-links" href="/lists">My Lists</a></li>
                    <li><a class="dropdown-links" href="/home">Categories</a></li>
                    <li><a class="dropdown-links" href="/home">Recipes</a></li>
                    <li><a class="dropdown-links" href="#">Update Profile</a></li>
                    <li class="dropdown-links divider" role="separator"></li>
                    <li>
                        <form th:action="@{/logout}" th:method="post">
                            <button class="btn-link btn dropdown-links" style="margin-top: 8px">Logout</button>
                        </form>
                    </li>
                </ul>
            </span>

        </div>

    </div>
</nav>

<!--<img th:srcuploadsages/users/' + ${users.img_url}" style="width: 3em; height: 3em;"/>-->

<form th:fragment="post-form">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" th:field="*{title}" value="${post.getTitle()}"/>
        <span th:if="${#fields.hasErrors('title')}">
            <div th:replace="fragments :: validation-alert('title')"/>
        </span>
    </div>
    <input type="hidden" value="${post_id}" th:field="*{id}"/>
    <input type="hidden" value="${post.owner}" th:field="*{owner}"/>
    <div class="form-group">
        <label for="body">Body</label>
        <textarea type="text" class="form-control" id="body" th:field="*{body}" value="${post.body}"/>
        <span th:if="${#fields.hasErrors('body')}">
            <div th:replace="fragments :: validation-alert('body')"/>
        </span>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>

<div th:fragment="validation-alert(name)" class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
    </button>
    <ul>
        <li th:each="err : ${#fields.errors(name)}" th:text="${err}"/>
    </ul>
</div>

<div th:fragment="my-footer" class="footer">
    <div class="footer-left">
        <p id="footer-copyright">Copyright Get It! 2017</p>
    </div>
    <div class="footer-right">
        <p id="footer-about">About</p>
        <a href="top"><span id="footer-top" class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span></a>
    </div>
</div>

<div th:fragment="scripts">
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js" />
    <script
      src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"
      integrity="sha256-0YPKAwZP7Mp3ALMRVB2i8GXeEndvCq3eSl/WsAl1Ryk="
      crossorigin="anonymous" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-maskmoney/3.0.2/jquery.maskMoney.min.js" />
    <script src="/js/main.js" />
</div>
</body>
</html>