<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments::head(Posts)" />
<body>
<nav th:replace="fragments::my-navbar"></nav>

<div class="container">
    <div sec:authorize="isAuthenticated()">
        <h1 style="text-align:center;margin-bottom:35px">Welcome <span sec:authentication="name"> user</span>!</h1>
    </div>
    <div sec:authorize="hasRole('ROLE_ADMIN')">
        This content is only shown to administrators.
    </div>
    <div sec:authorize="hasRole('ROLE_USER')">
        This content is only shown to users.
    </div>


    <div class="row">
        <div th:each="post: ${posts}" class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img class="img-responsive" src="http://via.placeholder.com/250x200" style="max-width:250px; height:200px" />
                <div class="caption">
                    <h4 th:text="${post.getTitle()}" style="text-align:center" />
                    <p><a th:href="@{/posts/show(post_id=${post.getId()})}" class="btn btn-primary btn-block" role="button">Go</a></p>
                    <p><a th:href="@{/posts/edit(post_id=${post.getId()})}" class="btn btn-primary btn-block" id="edit-post" role="button">Edit</a></p>
                    <p><a th:href="@{/posts/delete(post_id=${post.getId()})}" class="btn btn-primary btn-block" role="button">Delete</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments::scripts"></div>
</body>
</html>