<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments::head(Home)">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body>

<input type="hidden" id="csrf-token" th:name="${_csrf.parameterName}" th:content="${_csrf.token}"/>
<input type="hidden" id="csrf-header" th:name="${_csrf.parameterName}" th:content="${_csrf.headerName}"/>

<div class="home-grid">
    <div th:replace="fragments::hidden-search"></div>
    <nav th:replace="fragments::my-navbar"></nav>

    <div class="index-body">
        <div class="image">
            <h1 class="hero-text1">Organized, simplified and built around the essentials!</h1>
            <h1 class="hero-text2">Forget the pen and paper.. </h1><h1 class="brand">Get It!</h1>
        </div>

        <div class="features">

            <h1 class="features-header">Intuitive, Sharable, and<br/> Always on-hand!</h1>

            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img class="carousel-image img-responsive" src="/uploads/others/groceries.jpg" alt="..." />
                        <!--<div class="carousel-caption">-->
                            <!--...-->
                        <!--</div>-->
                    </div>
                    <div class="item">
                        <img class="carousel-image img-responsive" src="/uploads/others/basket.jpg" alt="..." />
                        <!--<div class="carousel-caption">-->
                            <!--...-->
                        <!--</div>-->
                    </div>
                    <div class="item">
                        <img class="carousel-image img-responsive" src="/uploads/others/veggies.jpg" alt="..." />
                        <!--<div class="carousel-caption">-->
                        <!--...-->
                        <!--</div>-->
                    </div>
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

            <p class="features-text">Use built-in items and recipes, or<br/>customize your own database based on YOUR dietary preferences.</p>
        </div>

        <div class="row categories" id="categories">
            <h2 id="category-header">CATEGORIES
                <span sec:authorize="isAuthenticated()" id="popover-category" class="glyphicon glyphicon-plus add-category" data-placement="bottom" ></span>
            </h2>

            <div id="popover-content" class="hide">
                <form class="popover-body" th:method="post" th:action="@{/categories/create}" enctype="multipart/form-data">
                    <div class="create-categories">
                        <input type="text" id="categories-name" name="name" placeholder="Enter Category Name &hellip;" />
                        <label for="img-file" class="btn btn-success glyphicon glyphicon-picture"></label>
                        <input id="img-file" type="file" name="file" style="visibility:hidden"  />
                    </div>
                    <div class="btn-ok-cancel">
                        <button class="btn btn-danger glyphicon glyphicon-remove btn-cancel-create"></button>
                        <button type="submit" class="btn btn-success glyphicon glyphicon-ok"></button>
                    </div>
                </form>
            </div>

            <div th:each="category:${categories}">
                <div class="col-sm-6 col-md-4 category">
                    <span class="category-name" th:text="${category.name}"></span>
                    <a class="category-image" data-toggle="modal" th:href="'#itemModal'+${category.id}"><img
                            th:src="'/uploads/categories/' + ${category.imgUrl}" class="img-responsive"/></a>

                    <!-- Modal to show items -->
                    <div class="modal fade" th:id="'itemModal' + ${category.id}" tabindex="-1" role="dialog"
                         aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="category-title">
                                        <span th:text="${category.name}"/>
                                    </h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body category-items-modal">
                                    <div th:each="item:${items}">
                                        <div class="category-items" th:if="${item.categoryId} == ${category.id}">
                                            <p class="items-name"><span th:text="${item.name}"/></p>

                                            <img class="img-responsive img-thumbnail item-image"
                                                 th:src="'/uploads/items/' + ${item.imgUrl}"/>

                                            <div class="dropdown" sec:authorize="isAuthenticated()">
                                                <button class="dropdown-toggle item-edit" type="button"
                                                        th:id="'category-items' + ${item.id}" data-toggle="dropdown"
                                                        aria-haspopup="true" aria-expanded="true">
                                                    <span class="caret-size caret"></span>
                                                </button>
                                                <ul class="dropdown-menu dropdown-menu-right"
                                                    th:attr="aria-labelledby='\'category-items' + ${item.id} +'\''">
                                                    <li><a href="#">Add to List</a></li>
                                                    <li><a href="#">Edit</a></li>
                                                    <li><a href="#">Delete</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row recipes" id="recipes">
            <h2 id="recipe-header">RECIPES
                <span sec:authorize="isAuthenticated()" class="glyphicon glyphicon-plus add-category" data-toggle="modal" data-target="#create-recipe" ></span>
            </h2>

            <!-- Modal to create recipe-->
            <div class="modal fade" id="create-recipe" tabindex="-1" role="dialog" aria-labelledby="modalCreateRecipe">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Create Recipe</h4>
                        </div>
                        <div class="modal-body">
                            <form id="recipe-form" th:method="post" th:action="@{/recipes/create}" th:object="${newRecipe}" enctype="multipart/form-data">
                                <div class="recipe-header">
                                    <input type="text" id="recipe-name" th:field="*{name}" placeholder="Enter recipe name &hellip;" />
                                </div>
                                <input type="text" id="recipe-time" th:field="*{time}" placeholder="Ready in &hellip;" />
                                <label id="img-recipe" for="img-file-recipe" class="btn btn-success glyphicon glyphicon-picture"></label>
                                <input id="img-file-recipe" type="file" name="file" style="visibility:hidden" />
                                <textarea id="recipe-description" th:field="*{directions}" cols="30" rows="5" placeholder="Enter recipe description &hellip;"></textarea>

                                <div id="div-search-item">
                                    <div class="ui-widget">
                                        <input id="tags" type="text" class="search-item-recipe" placeholder="Search item &hellip;" style="font-size: 2em; width:100%"/>
                                    </div>
                                    <button id="search-recipe-item" class="btn btn-success glyphicon glyphicon-ok"></button>
                                </div>

                                <div>
                                    <ul class="recipe-append-items"></ul>
                                </div>

                                <div id="div-create-recipe">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                    <button type="submit" class="btn btn-primary">Create</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div th:each="recipe:${recipes}">
                <div class="col-sm-6 col-md-4 recipe">
                    <span class="recipe-name" th:text="${recipe.name}"></span>
                    <a class="recipe-image" data-toggle="modal" th:href="'#recipeModal'+${recipe.id}"><img
                            th:src="'/uploads/recipes/' + ${recipe.imgUrl}" class="img-responsive"/></a>


                    <!-- Modal to show recipe details -->
                    <div class="modal fade" th:id="'recipeModal' + ${recipe.id}" tabindex="-1" role="dialog"
                         aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="recipe-title">
                                        <span th:text="${recipe.name}"/>
                                    </h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="recipe-body">
                                    <div class="recipe-details">

                                        <span class="recipe-icon glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                                        <p class="recipe-directions"><span th:text="${recipe.directions}"/></p>
                                        <span class="recipe-icon glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                                        <p class="recipe-time"><span th:text="${recipe.time}"/></p>

                                    </div>
                                    <div class="recipe-flex">
                                        <div class="" th:each="recipeItem:${recipeItems}">
                                            <div class="recipe-items" th:if="${recipeItem.recipeId} == ${recipe.id}">
                                                <p class="recipe-items-name"><span th:text="${recipeItem.name}"/></p>
                                                <img class="img-responsive img-thumbnail recipe-item-image"
                                                     th:src="'/uploads/items/' + ${recipeItem.imgUrl}"/>
                                                <div class="dropdown" sec:authorize="isAuthenticated()">
                                                    <button class="dropdown-toggle item-edit" type="button"
                                                            th:id="'recipe-items' + ${recipeItem.id}"
                                                            data-toggle="dropdown"
                                                            aria-haspopup="true" aria-expanded="true">
                                                        <span class="caret-size caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu dropdown-menu"
                                                        th:attr="aria-labelledby='\'recipe-items' + ${recipeItem.id} +'\''" >
                                                        <!--<li><a href="@{/items/addToList(item_id=${recipeItem.id})}">Add to List</a></li>-->
                                                        <li>
                                                            <a role="button" data-toggle="collapse" th:href="'#collapseLists' + ${recipeItem.id}" aria-controls="collapseExample">Add to List</a>
                                                        </li>
                                                        <li><a href="#">Delete</a></li>
                                                    </ul>
                                                    <div class="collapse" th:id="'collapseLists' + ${recipeItem.id}">
                                                        <div class="well">

                                                            <button type="button" class="close" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>

                                                            <strong class="select">Select Grocery List</strong>

                                                            <form class="popover-body add-to-list" th:method="post" th:action="@{/items/addToList}">

                                                                <div class="radio">
                                                                    <label th:each="groceryList : ${groceryLists}">
                                                                        <input type="radio" name="glist_id" th:value="${groceryList.id}" th:text="${groceryList.name}" />
                                                                        <input type="hidden" name="item_id" th:value="${recipeItem.id}" />
                                                                    </label>
                                                                </div>

                                                                <button type="submit" class="btn btn-success">SEND</button>
                                                            </form>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div th:replace="fragments::my-footer">Footer</div>
</div>
<div th:replace="fragments::scripts"></div>
</body>
</html>


