<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments::head('page-title')"></head>
<body>
<div class="home-grid">

    <div class="search">
        <input id="nav-search-input" type="text" placeholder="Search"/>
        <input class="nav-search-button" type="submit" value="Search"/>
    </div>

    <nav th:replace="fragments::my-navbar"></nav>

    <div class="container" id="body">
        <!--<div th:each="category: ${categories}">-->
            <!--<p>Category name: <span th:text="${category.name}" /></p>-->
            <!--<img th:src="'/images/categories/' + ${category.imgUrl}" />-->
        <!--</div>-->


        <div class="row">
            <div th:each="category:${categories}">
                <div class="col-sm-6 col-md-4">
                    <p>Category name: <span th:text="${category.name}" /></p>
                    <a th:href="@{/items(category_id=${category.id})}"><img th:src="'/images/categories/' + ${category.imgUrl}" class="img-responsive" width="250px" height="200px" /></a>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">Footer</div>
</div>
<div th:replace="fragments::scripts"></div>
</body>
</html>