<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments::head('page-title')"></head>
<body>

<div class="home-grid">

    <div th:replace="fragments::hidden-search"></div>

    <nav th:replace="fragments::my-navbar"></nav>


        <div class="row">
            <div th:each="category:${categories}">
                <div class="col-sm-6 col-md-4">
                    <!--<img class="img-responsive" src="http://via.placeholder.com/250x200" style="max-width:250px; height:200px" />-->
                    <p>Category name: <span th:text="${category.name}" /></p>
                    <a th:href="@{/items(category_id=${category.id})}"><img th:src="'/uploads/categories/' + ${category.imgUrl}" class="img-responsive" width="250px" height="200px" /></a>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="fragments::my-footer">Footer</div>
</div>


</body>
</html>