<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments::head('Create Item')"></head>
<body>
<div class="home-grid">
    <div th:replace="fragments::hidden-search"></div>
    <nav th:replace="fragments::my-navbar"></nav>
    <div class="create-item-body">
        <form id="create-item-form" th:method="post" th:action="@{/items/create}" th:object="${item}" enctype="multipart/form-data">
            <div class="form-group">
                <label for="name">Item Name</label>
                <input type="text" class="form-control" id="name" th:field="*{name}" />
            </div>

            <input class="menu-in" name="categoryName" type="hidden" value="Uncategorized" />
            <p>Category</p>
            <div class="btn-group" style="display: block">
                <button type="button" class="menu btn btn-lg dropdown-toggle form-control" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="caret"></span> Uncategorized
                </button>
                <ul class="dropdown-menu">
                    <div th:each="category:${categories}">
                        <li><a class="menu-li" href="#"><span th:text="${category.name}" /></a></li>
                        <li role="separator" class="divider"></li>
                    </div>
                </ul>
            </div>

            <div class="row" style="margin-bottom:13px">
                <div class="col-xs-6">
                    <p>Quantity</p>
                    <div class="glyphicon glyphicon-plus glyphicon-plus-minus btn-plus"></div>
                    <input type="text" class="qty-price-input qty-input" th:field="*{quantity}" th:value="0" />
                    <div class="glyphicon glyphicon-minus glyphicon-plus-minus btn-minus"></div>
                </div>
                <div class="col-xs-6">
                    <p>Price</p>
                    <input type="hidden" id="price-in" value="0.0" th:field="*{price}" />
                    <input type="text" class="qty-price-input currency" />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-xs-6">
                    <label for="file">Image</label>
                    <input type="file" name="file" id="file" style="margin-top:15px" />
                </div>
                <div class="col-xs-6">
                    <p>Favorite</p>
                    <div class="star glyphicon glyphicon-star-empty favorite">
                        <input type="checkbox" id="fav-input" th:field="*{favorite}" value="false" style="display:none" />
                    </div>

                </div>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>

    <div th:replace="fragments::my-footer">Footer</div>
</div>
    <div th:replace="fragments::scripts"></div>
</body>
</html>