<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments::head('Create/Edit Item')"></head>
<body>
<div class="home-grid">
    <div th:replace="fragments::hidden-search"></div>
    <nav th:replace="fragments::my-navbar"></nav>
    <div class="create-item-body">

        <div class="create-item-header">
            <h1 id="item-header">Create a New Item</h1>
        </div>

        <form id="create-item-form" th:method="post" th:action="@{/items/create}" th:object="${newItem}" enctype="multipart/form-data">
            <div class="create-name form-group">
                <label for="name">Item Name</label>
                <input type="text" class="form-control" id="name" th:field="*{name}" th:value="${newItem.name}" />
            </div>

            <div class="choose-category">
                <input class="menu-in" name="categoryName" type="hidden" th:value="${categoryName}"/>
                <p>Category</p>
                <div class="btn-group" style="display: block">
                    <button type="button" class="menu btn btn-lg dropdown-toggle form-control" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        <span class="caret" /> <span th:text="${categoryName}" />
                    </button>
                    <ul class="dropdown-menu">
                        <div th:each="category:${categories}">
                            <li><a class="menu-li" href="#"><span th:text="${category.name}"/></a></li>
                            <li th:if="${categories.size()} != ${category.id}" role="separator" class="divider"></li>
                        </div>
                    </ul>
                </div>
            </div>

            <div class="row create-first">
                <div class="quantity col-xs-6">
                    <p>Quantity</p>
                    <div class="glyphicon glyphicon-plus glyphicon-plus-minus btn-plus"></div>
                    <input type="text" class="qty-price-input qty-input" th:field="*{quantity}" th:value="${newItem.quantity}" />
                    <div class="glyphicon glyphicon-minus glyphicon-plus-minus btn-minus"></div>
                </div>
                <div class="price col-xs-6">
                    <p>Price</p>
                    <input type="hidden" id="price-in" value="0.0" th:field="*{price}" />
                    <input type="text" class="qty-price-input currency" th:value="${newItem.price}" />
                </div>
            </div>

            <div class="form-group row create-second">
                <div class="pic col-xs-6">
                    <label id="pic-label" for="file">Image</label>
                    <!--<input type="file" name="file" id="file" style="margin-top:15px" />-->
                    <label id="img-btn-item-create" for="file" class="btn btn-success glyphicon glyphicon-picture"></label>
                    <input id="file" type="file" name="file" style="visibility:hidden"  />
                </div>
                <div class="fav col-xs-6">
                    <p>Favorite</p>
                    <div class="star glyphicon glyphicon-star-empty favorite">
                        <input type="checkbox" id="fav-input" th:field="*{favorite}" value="false" style="display:none" />
                    </div>

                </div>
            </div>

            <button id="create-item-button" type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>

    <div th:replace="fragments::my-footer">Footer</div>
</div>
    <div th:replace="fragments::scripts"></div>
</body>
</html>